
.boxshadow{
    box-shadow:3px 5px gray;
}
.container {
            background-color: #ffffff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0px 0px 10px 0px #888888;
            margin: 0 auto;
            width: 300px;
            margin-top: 50px;


}
.imgcenter {
    margin-right: auto;
    margin-left: auto;
    display:block;
    
}
.shadowtxt{
    text-shadow:2px 2px 2px white;
}

.boxborder{
    border-radius:12px;
    
}
 
.box1 {
    border: 2px;
    border-style: double;
    border-color: gray;
    background-color: rgb(240, 248, 243);
    display: block;
    width: 400px;
    height: 40px;
}
.boxbtn {
    outline: auto;
    cursor: pointer;
    border: 2px;
    border-style: double;
    border-color: gray;
    background-color: rgb(9, 244, 95);
    height: 40px;
    width: 150px;
    display: block;   
}


    

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}